body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #6388c0;
}

.topnav a {
    float: left;
    color: rgb(227, 129, 181);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color : rgb(123, 73, 171);
    color: rgb(120, 183, 204);
}

.topnav a.active {
    background-color: rgb(106, 152, 14);
    color: rgb(24, 121, 121);
}